# Force LF line endings for all text files
* text eol=lf
*.bat eol=crlf

# These filetypes are binary
*.png binary
*.gif binary

# Linguist overrides
*.css linguist-detectable
*.json linguist-detectable
*.jsonc linguist-detectable
*.json5 linguist-detectable
*.md linguist-documentation
*.svg linguist-detectable
*.yaml linguist-detectable

docs/** linguist-documentation
dist/** linguist-generated
