html, body {
  width: 100%;
  height: 100%;
}

body {
  font: normal 12px/1.6667 "-apple-system", BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial",
    sans-serif;
  margin: 0;
  padding: 0 20px;
  color: #333;
  font-size: 14px;
  overflow-x: hidden;
}

/* global styles */
a {
  text-decoration: none;
}
h3 {
  margin: 0;
}
a:visited, a {
  color: #67e;
  font-weight: bold;
}
a:hover {
  color: #56a;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 20px;
}

h1 {
  margin-block-end: 0;
}

.hi {
  font-size: 20px;
  margin-right: 10px;
}
code {
  background: #eee;
}
pre {
  font-size: 12px;
  margin: 0;
}
.hide {
  display: none;
}

img.icon {
  width: 1.1em;
  height: 1.1em;
  margin-right: 8px;
  opacity: 0.8;
  vertical-align: text-bottom;
}

/* forms */
textarea,
input[type=text] {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  text-overflow: ellipsis;
}

button {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
    background-color: #ececec;
}
button:focus,
button.active {
    background: #7092ff;
}

textarea:focus,
input:focus {
  background-color: #f1f1f1;
}


/* Filters */
.filters {
  display: inline-block;
  background: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  max-width: 1000px;
}
.filters.active {
  background: #eef;
  border: 1px solid #bbe;
}
.filters .filterby {
  margin: 8px;
  font-weight: bold;
}
.filters .field {
  margin: 0 10px;
}
.filters .field label {
  margin: 0 5px;
}
.filters .field button.clearFilters {
  margin-left: 15px;
}

/* Overview Page */
div.container {
  margin-top: 20px;

  -webkit-columns: 10 250px;
     -moz-columns: 10 250px;
          columns: 10 250px;
}
div.category {
  padding: 2px 5px;
}


/* Category Pages */
.nav {
  margin-top: 5px;
}
.instructions {
  max-width: 1000px;
  margin: 20px 0;
  padding-bottom: 10px;
}
.logo {
  max-width: 75px !important;
  max-height: 75px !important;
  vertical-align: middle !important;
  text-align: center;
}

table.summary {
  width: 96%;
  border: 1px solid #000;
  text-align: left;
  border-collapse: collapse;
  margin-top: 20px;
}
table.summary th {
  position: sticky;
  top: -1px;
  background: #ddd;
  border: 1px solid #000;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
tbody td {
  font-size: 13px;
  max-height: 100px;
  border: 1px solid #000;
  padding: 5px 10px;
  vertical-align: top;
}

tbody h3.slug::before {
  display: block;
  content: " ";
  margin-top: -84px;
  height: 84px;
  visibility: hidden;
  pointer-events: none;
}
tbody .anchor {
  margin: 0 5px;
}
tbody .nsikey,
tbody .countries,
tbody .sociallinks,
tbody .viewlink {
  padding-top: 10px;
}
tbody td.namesuggest {
  max-width: 280px;
}
tbody .nsikey {
  overflow-x: auto;
}
tbody .countries {
  overflow-x: auto;
  font-size: 12px;
}
tbody .countries code {
  background: unset;
  font-size: 12px;
}
tbody td.tags {
  max-width: 280px;
  overflow-x: auto;
}
tbody pre.tags {
  font-size: 10px;
}
tbody td.wikidata {
  max-width: 320px;
}
tbody td.wikidata div.viewlink {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sociallinks svg.fa-instagram,
.sociallinks svg.fa-vk {
  color: white;
  background: black;
  border-radius: 3px;
  height: 0.9em;
  margin-bottom: 0.05em;
  width: 0.95em;
}

.sociallinks a svg.fa-instagram,
.sociallinks a svg.fa-vk,
.sociallinks a:visited svg.fa-instagram,
.sociallinks a:visited svg.fa-vk {
  color: white;
  background: #67e;
}
.sociallinks a:hover svg.fa-instagram,
.sociallinks a:hover svg.fa-vk {
  color: white;
  background: #56a;
}
.sociallinks a {
  margin: 0 2px;
}

.timestamp {
  margin: 20px 0;
  font-size: 12px;
  font-style: italic;
  color: #888;
}
.timestamp .message {
  margin: 0 10px;
}
