html, body {
  width: 100%;
  height: 100%;
}

body {
  font: normal 12px/1.6667 "-apple-system", BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial",
    sans-serif;
  margin: 0;
  padding: 0 20px;
  color: #333;
  font-size: 14px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
h3 {
  margin: 0;
}
a:visited, a {
  color: #67e;
  font-weight: bold;
}
a:hover {
  color: #56a;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 20px;
}

h1 {
  margin-block-end: 0;
}

.hi {
  font-size: 20px;
  margin-right: 10px;
}
code {
  background: #eee;
}
pre {
  font-size: 12px;
  margin: 0;
}

div.container {
  margin-top: 20px;

  -webkit-columns: 10 250px;
     -moz-columns: 10 250px;
          columns: 10 250px;
}

div.child {
  padding: 2px 5px;
}

.nav {
  margin-top: 5px;
}
.instructions {
  max-width: 1000px;
  margin: 20px 0;
  padding-bottom: 10px;
}
.logo {
  max-width: 75px !important;
  max-height: 75px !important;
  vertical-align: middle !important;
}

table.summary {
  width: 96%;
  border: 1px solid #000;
  text-align: left;
  border-collapse: collapse;
  margin-top: 20px;
}
table.summary th {
  position: sticky;
  top: -1px;
  background: #ddd;
  border: 1px solid #000;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
tbody td {
  font-size: 13px;
  max-height: 100px;
  border: 1px solid #000;
  padding: 5px 10px;
  vertical-align: top;
}

tbody h3.slug::before {
  display: block;
  content: " ";
  margin-top: -62px;
  height: 62px;
  visibility: hidden;
  pointer-events: none;
}
tbody .anchor {
  margin: 0 5px;
}
tbody .nsikey,
tbody .countries,
tbody .viewlink {
  padding-top: 10px;
}
tbody td.namesuggest {
  max-width: 280px;
}
tbody .nsikey {
  overflow-x: auto;
}
tbody .countries {
  overflow-x: auto;
  font-size: 12px;
}
tbody .countries code {
  background: unset;
  font-size: 12px;
}
tbody td.tags {
  max-width: 280px;
  overflow-x: auto;
}
tbody pre.tags {
  font-size: 10px;
}
tbody td.wikidata {
  max-width: 320px;
}
tbody td.wikidata div.viewlink {
  overflow: hidden;
  text-overflow: ellipsis;
}

.timestamp {
  margin: 20px 0;
  font-size: 12px;
  font-style: italic;
  color: #888;
}
.timestamp .message {
  margin: 0 10px;
}
