name: build pr

on:
  pull_request_target:
    branches: [ main ]

env:
  FORCE_COLOR: 2

jobs:
  build-pr:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    strategy:
      fail-fast: false
      matrix:
        bun-version: ['1.3']

    steps:
    - uses: actions/checkout@v6
      with:
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.head_ref }}
    - name: Use Bun ${{ matrix.bun-version }}
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: ${{ matrix.bun-version }}
    - run: bun install
    - run: |
        echo "::remove-matcher owner=eslint-compact::"
        echo "::remove-matcher owner=eslint-stylish::"
    - run: bun run all
    - run: |
        DIFF=$(git diff data/)
        echo "DIFF<<EOF" >> $GITHUB_ENV
        echo "$DIFF" >> $GITHUB_ENV
        echo "EOF" >> $GITHUB_ENV
    - name: Comment PR
      if: ${{ env.DIFF }}
      uses: thollander/actions-comment-pull-request@v3
      with:
        message: |
          ```diff
          ${{ env.DIFF }}
          ```
